@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Poppins:ital,wght@0,100...&family=Roboto:ital,wght@0,100...&family=Winky+Sans:ital,wght@0,300...&display=swap');

html{
    font-size: 10px;
    font-family: 'Winky Sans', 'Poppins', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

/* Header Desing */

header {
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}


nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0px 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.5em;
    transition: 0.3s ease;
}

.logo{
    margin-right: auto;
    font-size: 1.7em;
    transition: 0.3s ease;
}

.logo:hover, #acount-size:hover{
    transform: scale(1.1);
    color: rgb(120, 170, 110);
}

nav a:hover{
    color: rgb(120, 170, 110);
}

#acount-size{
    font-size: 1.7rem;
    transition: 0.3s ease;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.8);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

.menu-button{
    display: none;
}

@media (max-width: 800px) {
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}

@media (max-width: 400px) {
    .sidebar{
        width: 100%;
    }
}

/* Cards Desing */

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 25px 30px;
    background-color: rgb(120, 170, 110);
    flex-direction: column;
}

.title{
    font-size: 3.5rem;
    color: #fff;
    margin-top: 75px;
}

.card{
    display: flex;
    flex-wrap: wrap;
    padding: 30px 50px;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.card-info{
    display: flex;
    width: 300px;
    height: 200px;
    margin-bottom: 100px;
    flex-direction: column;

}

.card-name{
    border-radius: 20px;
    border: 1px solid #000;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.3s ease;
}

.card-info img{
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    transition: 0.3s ease;
}

.bac{
    color: #fff;
    padding: 0px 15px 0px 15px;
}

.bac .card-title{
    font-size: 1.9rem;
    font-weight: 800;
    color: rgb(120, 170, 110);
    margin-top: 10px;
}

.bac .card-text{
    display: flex;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.card-info img:hover{
    opacity: 0.7;
}

.card-name:hover{
    box-shadow: 0px 1px 25px #000;
    transform: scale(1.05);
    cursor: pointer;
}

/* Footer Design */

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 40px 20px;
    flex-wrap: wrap;
}

.left-footer .logo h1{
    font-size: 4rem;
    text-align: center;
    color: #fff;
}

.left-footer .logo h1:hover{
    color: rgb(120, 170, 110);
    cursor: pointer;
}

.left-footer span{
    color: #fff; 
    font-size: 2.5rem;
}

.mid-footer a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
    font-weight: 300;
    transition: 0.3s ease;
}

.right-footer a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
    font-weight: 300;
    transition: 0.3s ease;
}

.social-icons{
    display: flex;
    flex-direction: column;
}

.social-icons a{
    text-decoration: none;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    font-size: 2rem;
    padding: 5px 15px;
    margin: 5px 0 1px 0;
    transition: 0.3s ease;
}

.social-icons a:hover{
    background-color: rgb(120, 170, 110);
    color: #fff;
}

@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        width: 100%;
    }

    .nav-links li {
        margin: 5px 0;
    }

    .nav-links a {
        font-size: 1rem;
    }

    .icons-account {
        margin-top: 10px;
    }

    .icons-account a {
        font-size: 2rem;
        margin-right: 10px;
    }

        /* here for section */

    footer{
        flex-direction: column;
        text-align: center;
    }

    .left-footer .logo h1{
        font-size: 3.5rem;
    }

    .left-footer span{
        font-size: 1.9rem;
    }

    .mid-footer a{
        font-size: 1.9rem;
    }

    .right-footer a{
        font-size: 1.9rem;
    }

    .social-icons a{
        font-size: 1.9rem;
    }
}

/* Scroll Desing */

#scrollToTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 2rem;
    padding: 10px 15px;
    background-color: #fff;
    color: rgb(120, 170, 110);
    border: none;
    border-radius: 10px;
    display: none;
    cursor: pointer;
    z-index: 9999;
    transition: 0.3s ease;
}

#scrollToTop:hover {
    background-color: #000;
    color: rgb(120, 170, 110);
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.95);
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 10px 0;
    }
    .nav-links.show {
        display: flex;
    }
}

@media (max-width: 400px){
    .logo {
        font-size: 1.4rem;
    }

    .nav-links a {
        font-size: 1.1rem;
    }

    .icons-account a {
        font-size: 1.2rem;
    }

    .left-footer .logo h1{
        font-size: 3.5rem;
    }

    .mid-footer h1, .right-footer h1{
        font-size: 2.7rem;
    }

    .left-footer span{
        font-size: 1.7rem;
    }

    .mid-footer a, .right-footer a{
        font-size: 1.8rem;
    }

    .social-icons a{
        font-size: 1.5rem;
    }
}

 /* When the page loads */

 @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .card, .title{
    animation: fadeInUp 0.6s ease-in-out;
  }
